<%- include('header'); -%>
<h2>About page</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi porro dolores quo quidem amet dolore pariatur cupiditate adipisci inventore unde delectus corrupti est tenetur, dolorem rem temporibus libero quia voluptate.

</p>

<%- include('footer'); -%>